a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.shabr-page-table {
    height: 100vh;
    white-space: nowrap;
    background-color: #343A40;
}

.br-shabr {
    line-height: 1rem;
    background-color: #343A40;
    color: #343A40;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 15;
    overflow-wrap: break-word;
    margin-left: -10rem;
}

body {
    background-color: #41474C;
    overflow-x: hidden;
}

.big-l-shabr {
    font-size: 3.5rem;
}

.white-shabr {
    color: white;
}

.dark-shabr {
    color: #343A40;
}

.navbar-shabr {
    margin-top: -1rem;
    width: 100vw;
}

.navbar-toggler-icon {
    outline: none;
}

.fixed-nav nav {
    position: fixed !important;
    top: 1.5rem;
    width: 100vw;
    z-index: 10000;
}

.table-info {
    width: 5rem;
    text-align: center;
    margin-left: -2rem;
    background-color: #41474C;
    padding-top: 10rem;
    height: 100vh;
    flex-wrap: nowrap;
}

.info {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #41474C;
}

.info-context-small {
    background-color: #41474C;
    color: white;
    padding: 1rem;
    padding-top: 2rem;
    width: 100vw;
}

.info-c-h {
    text-align: center;
}

.info-c-b {
    padding-top: 2rem;
}

.shabr-shabr {
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.fixed-nav .shabr-shabr {
    max-width: 500px;
}

.card-info {
    width: 80vw;
}

.card-body-shabr {
    width: 80vw;
    word-wrap: break-word;
}

.time-img {
    background-image: url(img/time.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.weather-img {
    background-image: url(img/cloudweather.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.flight-img {
    background-image: url(img/whiteballoon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.participation-img {
    background-image: url(img/participation.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.font-info-tab {
    font-size: 2rem;
    font-weight: lighter;
}

.font-info {
    color: white;
    font-weight: lighter;
}

.info-context-large {
    display: none;
}

.testimony-banner {
    margin-left: -2rem;
    margin-top: 10rem;
    width: 5rem;
    text-align: center;
    background-color: #41474C;

}

.testimony {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #41474C;
}

.testimony-context-small {
    float: right;
    width: 80vw;
    padding: 2rem;
}

.testiomny-indiv {
    word-wrap: break-word;
    margin-bottom: 1rem;
    width: 100%;
    padding: 2rem;
}

.testiomny-indiv-color {
    background-color: #33373A;
}

.testimony-text {
    font-weight: lighter;
    font-size: 1rem;
}

.pictures {
    width: 100vw;
    background-color: #41474C;
    margin-top: -10rem;
    z-index: 10;
    margin-bottom: 10rem;
}

.picture-banner {
    margin-top: 10rem;
    width: 5rem;
    text-align: center;
    background-color: #41474C;
    margin-left: -2rem;
    float: left;
    padding: 0;
    height: 100vh;
}

.picture-frames-small {
    width: 70%;
    float: right;
    margin-top: 20rem;
    margin-right: 2.5rem;
    padding: 0;
    border: 0.5rem #33373A solid;
    background-color: #41474C;
}

.picture-frames-small-2 {
    width: 70%;
    float: right;
    margin-top: 10rem;
    margin-right: 2.5rem;
    padding: 0;
    border: 0.5rem #33373A solid;
    background-color: #41474C;
}

.slideframes-1 {
    margin-bottom: 3rem;
}

.contact-shabr {
    bottom: 0rem;
    width: 100vw;
    color: #41474C;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-wrap: break-word;
    padding-bottom: 15rem;
}

.contact-shabr-child {
    padding-bottom: 10rem;
}

.contact-parent {
    background-color: #343A40;
    margin-top: 5rem;
    width: 97vw;
    position: absolute;
    bottom: -220rem;
}

.contact {
    padding: 1rem;
    word-wrap: break-word;
    font-weight: lighter;
    color: white;
    float: left;
}

.copy-right {
    padding: 1rem;
    color: white;
    float: right;
}

.shabr-copyright {
    font-weight: bold;
    font-size: 1.5rem;
}

.copyright-2016 {
    font-size: 0.5rem;
    text-align: center;
}

@media only screen and (min-width: 300px) {
    .fixed-nav nav {
        position: fixed;
        top: 1rem;
        width: 100vw;
    }

    .contact-parent {
        width: 100vw;
    }

    .copy-right {
        width: 100vw;
    }

    .shabr-copyright {
        text-align: center;
    }

    .contact {
        text-align: center;
        float: none;
    }

}


@media only screen and (max-width: 400px) {
    .fixed-nav nav {
        position: fixed;
        top: 1.5rem;
        width: 100vw;
    }
}

@media only screen and (min-width: 600px) {
    .testimony-text {
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .info-context-small {
        margin-left: 2rem;
    }

    .info-c-h {
        margin-left: -2rem;
    }

    .testimony-context-small {
        margin-left: 4rem;
    }

    .picture-frames-small {
        width: 70%;
        float: right;
        margin-top: 11rem;
        margin-right: 5rem;
        padding: 0;
        border: 0.5rem #33373A solid;
        background-color: #41474C;
    }

    .picture-frames-small-2 {
        width: 70%;
        float: right;
        margin-top: 6rem;
        margin-right: 5rem;
        padding: 0;
        border: 0.5rem #33373A solid;
        background-color: #41474C;
    }

    .contact {
        padding: 1rem;
        word-wrap: break-word;
        font-weight: lighter;
        color: white;
        float: left;
    }

    .copy-right {
        padding: 1rem;
        color: white;
        float: right;
        width: 50vw;
    }

    .shabr-copyright {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .copyright-2016 {
        font-size: 0.5rem;
        text-align: center;
    }

    .contact-parent {
        margin-top: 20rem;
    }
}

@media only screen and (min-width: 1200px) {

    ::-webkit-scrollbar {
        width: 3rem;
        background-color: white;
        z-index: 10;
    }

    ::-webkit-scrollbar-track {
        background-color: white;
        z-index: 10;
    }

    ::-webkit-scrollbar-thumb {
        background-image: url(img/balloonscroll.png);
        background-size: 3rem 3rem;
        background-repeat: no-repeat;
        z-index: 10;
    }

    .fixed-nav nav {
        position: fixed;
        top: 1rem;
        width: 100vw;
    }

    .shabr-shabr {
        display: none;
        overflow: hidden;
        transition: all 0.5s;
    }

    .fixed-nav .shabr-shabr {
        display: block;
    }

    .nav-list-shabr {
        text-align: right;
    }

    .info-context-small {
        display: none;
    }

    .info-context-large {
        display: block;
        height: 100vh;
        margin-left: 5rem;
    }

    .card-group-shabr {
        flex-direction: row;
        word-wrap: break-word;
    }

    .card-body-shabr {
        width: 40vw;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }

    .time-img {
       margin-top: -2rem;
    }

    .weather-img {
        height: 80px;
        width: 80px;
        margin-top: -1rem;
    }

    .flight-img {
        width: 50px;
        height: 50px;
    }

    .participation-img {
        height: 80px;
        width: 80px;
        margin-top: -1rem;
    }

    .testiomny-indiv {
        word-wrap: break-word;
        margin-bottom: 4rem;
        width: 47%;
        margin: 1rem;
    }

    .testimony-text {
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .testimony-context-small {
        margin-left: 6rem;
    }

    .testimony-banner {
        margin-top: 1rem;
    }

    .picture-frames-small {
        width: 40%;
        float: right;
        margin-top: 25rem;
        margin-right: 7rem;
        padding: 0;
        border: 0.5rem #33373A solid;
        background-color: #41474C;
    }

    .picture-frames-small-2 {
        width: 40%;
        float: right;
        margin-top: 25rem;
        margin-right: 5rem;
        padding: 0;
        border: 0.5rem #33373A solid;
        background-color: #41474C;
    }
}
