::-webkit-scrollbar {
    width: 3rem;
    background-color: white;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-image: url(img/balloonscroll.png);
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.table-shabr {
    height: 100vh;
}

.shabr-page {
    background-color: #343A40;
}

.big-l-shabr {
    font-size: 3.5rem;
}

.white-shabr {
    color: white;
}

.navbar {
    margin-top: -1rem;
}

.fixed-nav nav {
    position: fixed;
    top: 10px;
    width: 100vw;
}

.table-info {
    width: 5rem;
    text-align: center;
    margin-left: -2rem;
}

/*.nav-icon-shabr {*/
/*    padding-right: 6rem;*/
/*}*/

@media only screen and (min-width: 1000px) {

    .nav-list-shabr {
        text-align: right;
    }
}
