a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.shabr-page-table {
    height: 100vh;
    white-space:nowrap
}

.br-shabr {
    line-height: 1px;
}

body {
    background-color: #343A40;
    overflow-x: hidden;
}

.big-l-shabr {
    font-size: 3.5rem;
}

.white-shabr {
    color: white;
}

.dark-shabr {
    color: #343A40;
}

.navbar-shabr {
    margin-top: -1rem;
    width: 100vw;
}

.navbar-toggler-icon {
    outline: none;
}

.fixed-nav nav {
    position: fixed;
    top: 1.5rem;
    width: 100vw;
}

.table-info {
    width: 5rem;
    text-align: center;
    margin-left: -2rem;
    background-color: #41474C;
    padding-top: 10rem;
    height: 100vh;
    flex-wrap: nowrap;
}

.info {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #41474C;
}

.info-context-small {
    background-color: #41474C;
    color: white;
    padding: 1rem;
    padding-top: 2rem;
    width: 100vw;
}

.info-c-h {
    text-align: center;
}

.info-c-b {
    padding-top: 2rem;
}

.shabr-shabr {
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.fixed-nav .shabr-shabr {
    max-width: 500px;
}

.card-info {
    width: 80vw;
}

.card-body-shabr {
    width: 80vw;
    word-wrap: break-word;
}

.time-img {
    background-image: url(img/time.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.weather-img {
    background-image: url(img/cloudweather.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.flight-img {
    background-image: url(img/whiteballoon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.participation-img {
    background-image: url(img/participation.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: right;
}

.font-info-tab {
    font-size: 2rem;
    font-weight: lighter;
}

.font-info {
    color: white;
    font-weight: lighter;
}

.info-context-large {
    display: none;
}

.testimony-banner {
    margin-left: -2rem;
    margin-top: 10rem;
    width: 5rem;
    text-align: center;
    background-color: #41474C;

}

.testimony {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #41474C;
}

.testimony-context-small {
    float: right;
    width: 80vw;
    padding: 2rem;
}

.testiomny-indiv {
    word-wrap: break-word;
    margin-bottom: 1rem;
    width: 100%;
    padding: 2rem;
}

.testiomny-indiv-color {
    background-color: #33373A;
}

.testimony-text {
        font-weight: lighter;
        font-size: 1rem;
    }

@media only screen and (min-width: 300px) {
    .fixed-nav nav {
        position: fixed;
        top: 1rem;
        width: 100vw;
    }
}

@media only screen and (max-width: 400px) {
    .fixed-nav nav {
        position: fixed;
        top: 1.5rem;
        width: 100vw;
    }
}

@media only screen and (min-width: 600px) {
    .testimony-text {
        font-weight: lighter;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1000px) {

    ::-webkit-scrollbar {
        width: 3rem;
        background-color: white;
    }

    ::-webkit-scrollbar-track {
        background-color: white;
    }

    ::-webkit-scrollbar-thumb {
        background-image: url(img/balloonscroll.png);
        background-size: 3rem 3rem;
        background-repeat: no-repeat;
    }

    .fixed-nav nav {
        position: fixed;
        top: 1rem;
        width: 100vw;
    }

    .shabr-shabr {
        display: none;
        overflow: hidden;
        transition: all 0.5s;
    }

    .fixed-nav .shabr-shabr {
        display: block;
    }

    .nav-list-shabr {
        text-align: right;
    }

    .info-context-small {
        display: none;
    }

    .info-context-large {
        display: block;
        height: 100vh;
    }

    .card-group-shabr {
        flex-direction: row;
        word-wrap: break-word;
    }

    .card-body-shabr {
        width: 40vw;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }

    .time-img {
       margin-top: -2rem;
    }

    .weather-img {
        height: 80px;
        width: 80px;
        margin-top: -1rem;
    }

    .flight-img {
        width: 50px;
        height: 50px;
    }

    .participation-img {
        height: 80px;
        width: 80px;
        margin-top: -1rem;
    }

    .testiomny-indiv {
        word-wrap: break-word;
        margin-bottom: 4rem;
        width: 47%;
        margin: 1rem;
    }

    .testimony-text {
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .testimony-context-small {
        margin-left: 3.5rem;
    }

    .testimony-banner {
        margin-top: 1rem;
    }
}
